<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    <!-- Настройки подключения к БД -->
    <property name="connection.driver_class">org.h2.Driver</property>
    <property name="connection.url">jdbc:h2:./src/main/resources/hospital</property>
    <property name="connection.username">me</property>
    <property name="connection.password">1</property>
    <property name="connection.pool_size">50000</property>
    <!-- SQL диалект, определяется платформой СУБД-->
    <property name="dialect">org.hibernate.dialect.H2Dialect</property>
    <!-- Включить автоматическое управление контекстом сессии -->
    <property name="current_session_context_class">thread</property>
     <property name="hibernate.current_session_context_class">org.hibnerate.context.ThreadLocalSessionContext</property>
    <!-- Отключение кеша второго уровня -->
    <property name="cache.provider_class">org.hibernate.cache.internal.NoCachingRegionFactory</property>
    <!-- Вывод в консоль SQL-запросов -->
    <property name="show_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">create-drop</property>
    <property name="hibernate.enable_lazy_load_no_trans">true</property>
    
    <mapping class="ru.sfedu.hospital2.lab2.model.Address"/>
    <mapping class="ru.sfedu.hospital2.lab2.model.TestEntity"/>
    
    <mapping class="ru.sfedu.hospital2.lab4.model.Hospital"/>
    <mapping class="ru.sfedu.hospital2.lab4.model.Hospitalization"/>
    <mapping class="ru.sfedu.hospital2.lab4.model.Documents"/>
    
    <mapping class="ru.sfedu.hospital2.lab5.model.Service"/>
    <mapping class="ru.sfedu.hospital2.lab5.model.Appointment"/>
    <mapping class="ru.sfedu.hospital2.lab5.model.Employee"/>
    <mapping class="ru.sfedu.hospital2.lab5.model.Patient"/>
    <mapping class="ru.sfedu.hospital2.lab5.model.Person"/>
    <mapping class="ru.sfedu.hospital2.lab5.model.Survey"/>
    <mapping class="ru.sfedu.hospital2.lab5.model.Diagnosis"/>
    <mapping class="ru.sfedu.hospital2.lab5.model.Documents"/>
    <mapping class="ru.sfedu.hospital2.lab5.model.Hospital"/>
    <mapping class="ru.sfedu.hospital2.lab5.model.Hospitalization"/>
    <mapping class="ru.sfedu.hospital2.lab5.model.MedicalInsurance"/>
    <mapping class="ru.sfedu.hospital2.lab5.model.Payment"/>  
    
    </session-factory>
</hibernate-configuration>